body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: url(download.jpg);
    padding: 20px 0;
}

.header-logo {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 350px;
}

nav {
    position: absolute;
    top: 80px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: gold;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.principal {
    padding: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.titulo-principal {
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.paragrafo-1 {
    text-align: justify;
    margin: 0 auto;
    padding: 1em 0;
    width: 940px;
}

.missao {
    text-align: justify;
    margin: 0 auto;
    padding: 1em 0;
    width: 940px;
}

.banner {
    text-align: center;
}

.banner-principal {
    width: 60%;
}

.beneficios {
    padding: 3em 0;
}

.conteudo {
    width: 640px;
    margin: 0 auto;
}

.titulo-principal-1 {
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.banner-amanda {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.banner-amanda:hover {
	opacity: 0.3;
}

.sobre {
    padding: 40px;
    text-align: center;
    font-weight: bolder;
}

.about {
    text-align: justify;
}

.about-principal {
    margin: 0 auto;
    padding: 1em 0;
    width: 940px;
}

.foto-amanda {
    width: 250px;
    float: left;
    margin: 0 20px 20px 0;
}


footer {
   text-align: center;
   background: url(download.jpg);
   position: absolute;
   width: 100%;
}

.copyright {
    color: white;
}

