body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

/*Backgroun do header - Imagem azul marinho*/
header {
    background: url(download.jpg);
    padding: 20px 0;
}

/*Logo do header*/
.img-logoprincipal {
    padding: 30px;
}

.header-logo {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 350px;
}

/*Menu de navegação*/
nav {
    position: absolute;
    top: 100px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: gold;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: goldenrod;
}

/*Primeiro texto da página inicial*/
.principal {
    padding: 30px;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.titulo-principal {
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

/*Primeiro paragrafo da pagina inicial*/
.paragrafo-1 {
    text-align: justify;
    margin: 0 auto;
    padding: 1em 0;
    width: 940px;
    font-family: 'Montserrat', sans-serif;
}

/*Texto que reforça a importância de investir em planejamento previdenciário*/
.invista {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/*Missão, visão e valores*/
.missao {
    text-align: justify;
    margin: 0 auto;
    padding: 1em 0;
    width: 940px;
    font-family: 'Montserrat', sans-serif;
}

.segundo-titulo {
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    padding-block-start: 20px;
}

/*Principal banner da página principal*/
.banner {
    text-align: center;
}

.banner-principal {
    width: 107%;
    padding: 50px;
}

/*Benefícios do planejamento previdenciário*/
.beneficios {
    padding: 3em 0;
}

.conteudo {
    width: 640px;
    margin: 0 auto;
}

.titulo-principal-1 {
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

/*Imagem benefícios*/
.banner-amanda {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.banner-amanda:hover {
	opacity: 0.3;
}

/*Título sobre Amanda Sagaz*/
.sobre {
    padding: 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

/*Sobre Amanda Sagaz*/
.about {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.about-principal {
    margin: 0 auto;
    padding: 1em 0;
    width: 940px;
}

/*Foto Amanda Sagaz*/
.foto-amanda {
    width: 250px;
    float: left;
    margin: 0 20px 20px 0;
}

/*Main do sobre e página principal*/
main {
    width: 940px;
	margin: 0 auto;
}

/*Contato*/
form {
    margin: 40px 0;
}

form label {
    display: block;
    font-size: 20px;
    margin: 1em;
}

form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 5px;
}

.input-padrao {
    display: block;
    margin: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 10px 0;
}

.body-contato {
    width: 940px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: blue;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 2em;
}

.enviar:hover {
    background: darkblue;
    transform: scale(1.2);
}

/*Botão WhatsApp*/
.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

/*Rodapé*/
footer {
   text-align: center;
   background: url(download.jpg);
   position: absolute;
   width: 100%;
}

.rodape {
    width: 400px;
    padding: 30px;
}

.copyright {
    color: white;
}